.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Coda', cursive;
  color: #a64a38;
  background-color: #c3dee4;
}

h2 {
  margin: 0;
}

header, footer {
  width: 100%;
  height: 3%;
  padding: 0.67em 0;
  background-color: #87bec914;
}

button {
  font-family: 'Coda', cursive;
  color: #ffffff;
  background-color: #a64a38;
  border: solid 2px #fff;
  cursor: pointer;
}

button.span-width {
  width: 100%;
  padding: 4px 0;
}

button:hover {
  background-color: #e57248;
  border: solid 2px #a64a38;
  color: #a64a38
}

.contentWrapper {
  display: flex;
  width: 100%;
  height: 94%;
  box-sizing: border-box;
}

.contentSection {
  width: 100%;
  height: 100%;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 600px;
}

@media screen and (max-width: 1199px) {
  .charts {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
  }

  .chart {
    max-width: 50%;
    background-color: rgba(195, 222, 228, 0.51);
  }

  button.span-width {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 28px;
  }
}